{% extends 'base.html.twig' %}

{% block title %}Follow User{% endblock %}

{% block body %}
    <!-- the navbar -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-info">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar Demo</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>
    </nav>
    <div class="container">
        <h3>Welcome {{ user_name }}</h3>
        <p>Choose users to follow:</p>
        <ul class="followlist list-group">
            {% for user in users %}
                <li class='list-group-item'>
                  <div class='alignleft'>
                    {{ user.user_name }}, {{ user.group_name }} <span class='badge badge-primary badge-pill'>(<span id="user_{{ user.user_id }}_counter" class="followers_counter">{{ user.nooffollowers }}</span>)</span>
                  </div>
                  <div class='alignright'>
                    <button type="button" class="btn btn-primary hidden" data-user-id="{{ user.user_id }}">Follow</button>
                  </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
