{% extends 'base.html.twig' %}

{% block title %}Follow User{% endblock %}

{% block body %}
    <!-- the navbar -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-info">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar Demo</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>
    </nav>
    <!-- the jumbotron -->
    <div class="jumbotron bg-warning">
        <h5 class="display-3">Welcome {{ user_name }}</h5>
    </div>
    <div class="container">
        <p>Choose users to follow:</p>
        <ul>
            {% for user in users %}
                <li data-user-id="{{ user.user_id }}">{{ user.user_name }}, {{ user.group_name }} ({{ user.nooffollowers }}) <button type="button" class="btn btn-primary">Follow</button></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}